<div>Vous avez écrit : {{search}}</div>

<div *ngIf="!found || !propos[0]">
	<p>Pas de match direct trouvé</p>

	<button (click)="reinitResearch()">Essayer une autre recherche</button>
	<br><br>
	<button (click)="goBackHome()">Retourner sur la page d'accueil</button>
</div>

<div *ngIf="found && propos[0]">
	<p>Nous pouvons vous proposer les médicaments suivants :</p>

	<ul>
		<li *ngFor="let element of propos" class="medoc_listed_element">
			{{element.name}} <br />
			<button (click)="updateResearchDone(element)">Voir la fiche</button>
		</li>
	</ul>

</div>
