<div class="page {{theme}}">

	<h2>{{ currentPage }}</h2>

	<pillman-svg [text]="text"></pillman-svg>

	<!-- <pillman-element></pillman-element> -->

	<div class="buttons-maj">
		
		<button *ngIf="!majDone && !majStarted" (click)="makeMaj(true)">Faire la mise à jour</button>
		<button *ngIf="!majDone && !majStarted" (click)="makeMaj(false)">Une prochaine fois</button>
	</div>


	<div *ngIf="!majDone && majStarted">Mise à jour en cours...</div>

	<div *ngIf="majDone">
		<p>Mise à jour finie !</p>
		<p>{{medocs.length}} médicaments ajoutés</p>
		<button (click)="makeMaj(false)">Retour à l'accueil</button>
	</div>

</div>
