<!-- <pillman></pillman> -->

<details style="margin: 30px 0;">
	<summary>Elements de recherche</summary>
	<filter-typesearch [hidden]="!researchDone" [searchType]="searchType" (changeSearchType)="changeSearchType($event)"></filter-typesearch>
</details>

<search-element [hidden]="!researchDone" (changeResearch)="changeResearch($event)"></search-element>

<aftersearch-element
	[hidden]="researchDone"
	[elements]="elements"
	[search]="search"
	[researchDone]="researchDone"
	(changeResearchDone)="changeResearchDone($event)"
></aftersearch-element>

<!-- <autocomplete-element [hidden]="!researchDone" [elements]="elements" [medoc]="medoc"></autocomplete-element> -->

<card-element [searchType]="searchType" [elements]="elements" [medoc]="medoc"></card-element>
