<div *ngIf="medocExists()">
	<div *ngIf="searchType == 'name'" class="card-title"><strong>Nom</strong> {{medoc.name}}</div>
	<div class="card-subtitle"><strong>DCI</strong> {{medoc.dci}}</div>
	<div class="card-subtitle"><strong>Forme</strong> {{medoc.forme}}</div>

	<div class="card-subtitle"><strong>Effets secondaires</strong>

		<div *ngIf="!showAllEffects" [innerHTML]="getShortEffects(medoc.effects)"></div>
		<button *ngIf="!showAllEffects" (click)="seeAllDetails()">Voir les détails</button>

		<div *ngIf="showAllEffects" [innerHTML]="medoc.effects"></div>
		<button *ngIf="showAllEffects" (click)="hideAllDetails()">Cacher les détails</button>
	</div>
</div>
